services:
  app:
    build: .
    container_name: agent_app
    volumes:
      - ./src:/app/src
      - ./.env:/app/.env
      - ./data:/app/data
    ports:
      - "8501:8501"
    env_file:
      - .env