services:
  backend:
    build: ./backend
    container_name: qstat_backend
    volumes:
      - ./backend/src:/app/src
      - ./.env:/app/.env
      - ./data:/app/data
    ports:
      - "8000:8000"
    env_file:
      - .env

  frontend:
    build: ./frontend
    container_name: qstat_frontend
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/index.html:/app/index.html
    ports:
      - "5173:5173"
    depends_on:
      - backend
